@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: black;
}

/* headings */

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
}

#logo {
    font-size: 300%;
    float: left;
    margin-left: 25px;
}

#logo a:hover {
    border: 1px solid black;
    padding: 5px;
}

/*  nav bar */

#navigation {
    font-size: 120%;
}

#navigation, #logo {
    line-height: 100px;
}

#navigation li {
    float: right;
    margin-right: 50px;
    list-style-type: none;
}

#navigation a {
    color: black;
    text-decoration: none;
}

.current {
    border: 1px solid black;
    padding: 5px;
}

/* welcome area */

#welcome-box {
    width: 100%;
    height: 650px;
    overflow: hidden;
    position: relative;
}

#welcome-text {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    padding: 50px 0 0 20px;
    width: 350px;
    height: 100px;
    background-color: rgba(221, 154, 30, .5);
    position: absolute;
    top: 200px;
    left: 50px;
}

#back-image {
    height: 650px;
    width: 100%;
    background: url('../images/pexels-victor-freitas-703016.jpg') no-repeat center center;
    animation-name: image-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

@keyframes image-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}