@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: black;
}

/* headings */

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
}

#logo {
    font-size: 300%;
    float: left;
    margin-left: 25px;
}

/*  header and nav bar */

#navigation {
    font-size: 120%;
}

#navigation, #logo {
    line-height: 100px;
}

#navigation li {
    float: right;
    margin-right: 50px;
    list-style-type: none;
}

#navigation a {
    color: black;
    text-decoration: none;
}

.current {
    border: 1px solid black;
    padding: 5px;
}

/* welcome area */

#welcome-box {
    width: 100%;
    height: 650px;
    overflow: hidden;
    position: relative;
}

#welcome-text {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    padding: 50px 0 0 20px;
    width: 350px;
    height: 100px;
    background-color: rgba(221, 154, 30, .8);
    position: absolute;
    top: 200px;
    left: 50px;
}

#back-image {
    height: 650px;
    width: 100%;
    background: url('../images/pexels-victor-freitas-703016.jpg') no-repeat center center;
    animation-name: image-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

@keyframes image-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* Reasons */

#reasons-box {
    height: 150px;
}

#why {
    text-align: center;
    margin: 20px 0;
    font-size: 250%;
}

#health {
    width: 30%;
    float: left;
    padding-top: 20px;
    margin-left: 15px;
}

#improve {
    width: 30%;
    float: right;
    padding-top: 20px;
    margin-right: 15px;
}

#sustain {
    width: 30%;
    padding-top: 20px;
    margin: 0 auto;
}

.reasons {
    text-align: center;
}

#sustain a {
    text-decoration: none;
    font-style: italic;
}

hr {
    border-top: 1px solid black;
    width: 100%;
}

/* plans link */

#plans {
    text-align: center;
    clear: both;
    padding-top: 45px;
}

#plans h2 {
    padding-bottom: 30px;
}

#plans-link {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    background-color: rgba(221, 154, 30, .8);
    color: black;
}

/* map section */

#map {
    padding-top: 30px;
    text-align: center;
    margin: 60px 0;
}

iframe {
    width: 70%;
}

/* footer */

footer {
    width: 100%;
}

.social-networks {
    text-align: center;
    background-color: rgba(221, 154, 30, .8);
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: black;
}

footer h2 {
    text-align: center;
}