@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: black;
}

/* headings */

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
}

#logo {
    font-size: 300%;
    float: left;
}

/*  nav bar */

#navigation {
    font-size: 120%;
}

#navigation, #logo {
    line-height: 100px;
}

#navigation li {
    float: right;
    margin-right: 50px;
    list-style-type: none;
}

#navigation a {
    color: black;
    text-decoration: none;
}

.current {
    border: 1px solid black;
    padding: 5px;
}